# Configuración del LLM (opcional - descomenta la que uses)
# LLM_PROVIDER=openai
# OPENAI_API_KEY=sk-tu-clave-aqui

# LLM_PROVIDER=claude
# ANTHROPIC_API_KEY=sk-ant-tu-clave-aqui


# LLM_PROVIDER=cerebras
# CEREBRAS_API_KEY=csk-4x2n56j2pm6xey8dnt5ev3ckcfhr92he4ecdd9fmchn3pnxv

LLM_PROVIDER=groq
GROQ_API_KEY=

# LLM_PROVIDER=claude
# ANTHROPIC_API_KEY=csk-4x2n56j2pm6xey8dnt5ev3ckcfhr92he4ecdd9fmchn3pnxv

# Si no configuras ningún LLM, el sistema funciona igual
# pero las respuestas serán directas sin interpretación de negocio

# Puerto del servidor
PORT=8000
